@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "filtros" "main" "footer";
}
@media (min-width: 992px) {
  body {
    grid-template-columns: 1fr 10fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header filtros" "header main" "footer main";
  }
}

header {
  grid-area: header;
  padding: 15px 20px;
  background-color: #0eabec;
  color: white;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 992px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
}
header img {
  width: 80px;
}
header i {
  font-size: 20px;
}
header .marca {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .marca h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 700;
}
header .menu-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100px;
  height: 100%;
}
@media (min-width: 992px) {
  header .menu-mobile {
    display: none;
  }
}
header .menu-desktop li {
  padding-bottom: 10px;
  list-style: none;
  text-align: center;
}
header .menu-desktop li:hover {
  text-decoration: underline;
}
@media (max-width: 991px) {
  header .menu-desktop {
    display: none;
  }
}

.filtros {
  grid-area: filtros;
  height: 100px;
  padding: 10px 25px;
  text-align: center;
  background-color: rgb(240, 240, 240);
}
.filtros select {
  margin-top: 5px;
  width: 100%;
  border-radius: 10px;
  border-color: white;
  border-width: 10px;
}

main {
  margin: 20px 5%;
  grid-area: main;
}
@media (max-width: 992px) {
  main {
    margin: 20px 50px;
  }
}
main .catalogo-productos {
  gap: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, auto);
}
@media (max-width: 1200px) {
  main .catalogo-productos {
    grid-template-columns: repeat(3, auto);
  }
}
@media (max-width: 992px) {
  main .catalogo-productos {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 576px) {
  main .catalogo-productos {
    grid-template-columns: repeat(1, auto);
  }
}
main .catalogo-productos .producto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  gap: 20px;
  text-align: center;
  padding: 15px 10px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  box-shadow: -1px 6px 9px -1px rgb(189, 189, 189);
  -webkit-box-shadow: -1px 6px 9px -1px rgb(189, 189, 189);
  -moz-box-shadow: -1px 6px 9px -1px rgb(189, 189, 189);
}
main .catalogo-productos .producto-card img {
  width: 100%;
}
main .catalogo-productos .producto-card button {
  background-color: #0eabec;
  width: 100px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  padding: 10px;
  border-width: 0px;
  border-radius: 10px;
}
main .catalogo-productos .producto-card button:hover {
  cursor: pointer;
  background-color: #0ebfec;
}
@media (max-width: 576px) {
  main .catalogo-productos .dos {
    display: none;
  }
}
@media (max-width: 576px) {
  main .catalogo-productos .tres {
    display: none;
  }
}
@media (max-width: 576px) {
  main .catalogo-productos .cuatro {
    display: none;
  }
}
@media (max-width: 576px) {
  main .catalogo-productos .cinco {
    display: none;
  }
}
@media (max-width: 576px) {
  main .catalogo-productos .seis {
    display: none;
  }
}
@media (max-width: 1200px) {
  main .catalogo-productos .siete {
    display: none;
  }
}
@media (max-width: 1200px) {
  main .catalogo-productos .ocho {
    display: none;
  }
}
main .paginacion {
  margin: 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
main .paginacion ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  color: #0eabec;
  border: 1px solid #0eabec;
  border-radius: 6px;
}
main .paginacion ul li {
  padding: 10px;
}
main .paginacion ul li:hover {
  color: white;
  background-color: #0eabec;
  font-family: 900;
}
main .paginacion ul .prev:hover, main .paginacion ul .next:hover {
  background-color: #0064b6;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0064b6;
  color: white;
  text-align: center;
  padding: 15px 0px;
}
footer .logos-sociales {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer .logos-sociales img {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=estilos.css.map */